.bgColor{
    background-image: url("https://plus.unsplash.com/premium_photo-1674904183551-64f8eb1e92d4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
object-fit: cover;
width: 100%;


}